@import '../../scss/variables.scss';

wrsts-button {
  display: inline-block;
  cursor: pointer;

  button {
    border: none;
    outline: none;
    padding: 8px 12px;
    background-color: $color-btn-bg;
    color: $color-btn-font;
    transition: background-color .2s ease-in-out;
    &:hover {
      background-color: darken($color-btn-bg, 10%)
    }
  }
}
