@keyframes wrsts-select-appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

$lbl-font-color: #595959;
$lbl-bg-color: #f1f1f1;

@keyframes wrsts-select-in {
  0% { opacity: 0; transform: translateY(-2%); }
  100% { opacity: 1; transform: translateY(0%); }
}

wrsts-select {
  animation: wrsts-select-appear .2s ease-in;
  color: $lbl-font-color;
  display: inline-block;
  position: relative;
  transition: box-shadow .2s ease-in-out;
  &[focused] {
    box-shadow: 0 0 4px rgba(150, 150, 150, .8);
  }

  select { display: none; }

  input {
    border: 1px solid lighten($lbl-font-color, 50%);
    color: $lbl-font-color;
    outline: none;
    padding: 4px 8px;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .wrsts-select-select {
    &:after {
      content: '▾';
      position: absolute;
      right: 8px;
    }
    &.visible:after {
      transform: rotate(180deg);
    }
    cursor: pointer;
    user-select: none;
    padding: 6px 30px 6px 10px;
    background-color: $lbl-bg-color;
    border: 1px solid $lbl-font-color;
    min-width: 200px;
    min-height: 20px;
  }

  .wrsts-select-options {
    &.hidden { display: none; }
    &.visible { display: block; }
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    user-select: none;
    border: 1px solid lighten($lbl-font-color, 50%);
    animation: wrsts-select-in .2s ease-in-out;
    background-color: $lbl-bg-color;
    z-index: 1;
  }
}


