$option-bg-color: #f7f7f7;

wrsts-select-option {
  display: block;
  padding: 4px 6px;
  background-color: $option-bg-color;
  cursor: default;
  user-select: none;
  transition: background-color.2s ease-in-out;
  &[selected] {
    background-color: lighten($option-bg-color, 5%);
  }
  &:hover {
    background-color: lighten($option-bg-color, 10%);
  }
  &[focused] {
    background-color: darken($option-bg-color, 10%);
  }
  &[hidden] {
    display: none;
  }
}
