@import '../../scss/variables.scss';

wrsts-select-option { display: block; }
wrsts-select-option > div  {
  display: block;
  padding: 4px 6px;
  background-color: $color-form-bg;
  cursor: default;
  user-select: none;
  transition: background-color.2s ease-in-out;
  &.selected {
    background-color: darken($color-form-bg, 10%);
  }
  &:hover {
    background-color: darken($color-form-bg, 5%);
  }
  &.focused {
    background-color: darken($color-form-bg, 10%);
  }
  &.hidden {
    display: none;
  }
}
