wrsts-checkbox {
  user-select: none;
  display: inline-block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  div {
    display: inline-block;
  }

  label {
    margin-left: 4px;
  }

  input[type="checkbox"] {
    display: none;
  }

  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: -3px;
  }

}

wrsts-checkbox[disabled] {
  color: gray;
}

