@import '../../scss/variables.scss';

@keyframes wrsts-checkbox-appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

wrsts-checkbox {
  animation: wrsts-checkbox-appear .2s ease-in;

  user-select: none;
  display: inline-table;
  &[hidden] {
    display: none;
  }
  &[disabled] {
    color: $color-form-disabled;
  }

  input[type="checkbox"] {
    display: none;
  }

  div {
    display: table;
  }

  label {
    display: inline-block;
    line-height: 20px;
    &::before {
      content: '';
      display: inline-block;
      width: 3px;
    }
  }

  i {
    display: table-cell;
    width: 20px;
    height: 20px;

    transition: background-image .2s ease-in-out;
    &.checked {
      background: url(/assets/img/checkbox-checked.svg);
    }
    &.unchecked {
      background: url(/assets/img/checkbox-unchecked.svg);
    }
    &.indeterminate {
      background: url(/assets/img/checkbox-indeterminate.svg);
    }
  }
}
