@import '../../scss/variables.scss';

@keyframes wrsts-tab-control-content-in {
  0% { opacity: 0; transform: scale(.99, .99); }
  100% { opacity: 1; transform: scale(1, 1); }
}

wrsts-tab-control-content > div {
  display: none;
  padding: 10px 8px;
  background-color: $color-tabs-bg-active;
  color: $color-tabs-font;
  box-shadow: $box-shadow-form;

  &.active {
    display: block;
  }
}

wrsts-tab-control-content > div {
  animation: wrsts-tab-control-content-in .2s ease-in-out;
}
