
/* font */
$color-font-light: #dfdfdf;
$color-font-dark: #595959;

/* form elements */
$color-form-border: #a5a5a5;
$color-form-border-error: #830000;
$color-form-bg: #f1f1f1;
$color-form-disabled:  gray;

/* content */
$color-light-bg: #fcfcfc;
