@import '../../scss/variables.scss';

:host {
  display: inline-block;
  user-select: none;
  label {
    display: inline-block;
    background-color: $color-tabs-bg-pasive;
    color: $color-tabs-font;
    padding: 10px 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    box-shadow: $box-shadow-tabs-tab;
    &:hover {
      background-color: darken($color-tabs-bg-pasive, 5%);
    }
    &.active {
      background-color: $color-tabs-bg-active;
    }
  }
}
